<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion BankVision</title>
</head>
<body>
  <h2>Connexion</h2>
  <form id="loginForm">
    <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
    <input type="password" id="password" name="password" placeholder="Mot de passe" required>
    <button type="submit">Se connecter</button>
  </form>
  
  <div id="result"></div>
  
  <script>
    document.getElementById("loginForm").addEventListener("submit", async function(event) {
      event.preventDefault();
  
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
  
      const response = await fetch("http://localhost:8080/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username, password })
      });
  
      const data = await response.json();
      const resultDiv = document.getElementById("result");
  
      if (response.ok) {
        localStorage.setItem('token', data.access_token);
        window.location.href = '/dashboard'; // Redirige vers une page protégée
        } else {
        resultDiv.innerHTML = `Erreur : ${data.msg}`;
        }
    });
  </script>
  
</body>
</html>
